
/*.cover{
	background-image: url('../../images/cover.jpg');
}*/
.text{
	color:#fff;
}

.home{

	background-color: #e6b800;
}

.media{
	background-color:black;
}

.fb{
	background-color:#e0e0eb;
}
.para{
	font-size:30px ;
	line-height:150%;
}

.youtube{
	width:70vw;
}

.heading{
	color:black;
	font-weight:bold;
	font-size:3.5rem;
}